{% extends 'base.html' %}


{% block title %}
    {{category.title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/sidebar.html' %}
{% endblock %}

{% block content %}
            <div class="boxes" style="margin-left: 600px; margin-top: -200px; margin-right: 100px;">
            
            {% for item in news %}
            <div class="box border border-secondary rounded" style="width: 600px; height: 300px;">
                <div>
                    <p class="bg-secondary border border-secondary rounded-top" style="width: 600px; height: 30px;">
                        Категория: {{ item.category }}</p>
                </div>
                <p class="mx-auto p-3">{{ item.title }}</p>
                {% if item.photo %}
                <img src="{{ item.photo.url }}" class="mx-auto p-2"
                style="width: 200px; height: 150px;">   
                {% else %}
                <img src="https://i.pinimg.com/736x/18/49/90/18499075c298138ac6608732caca321f.jpg" class="mx-auto p-2"
                style="width: 200px; height: 150px;">
                {% endif %}
                <div style="margin-left: 250px; margin-top: -200px;">
                    <p> {{ item.content|truncatewords:35 }}</p>
                    <p style="margin-top: 30px;">{{ item.created_at|date:"Y-m-d H:i" }}</p>
                    <div><a class="btn btn-primary bg-light text-dark border border-secondary" href="#" role="button"
                            style="margin-left: 150px; margin-top: -75px;">Читать...</a></div>
     z           </div>
            </div> 
            <br>
            {% endfor %}  
        </div>
{% endblock %}


